.extra__services {
  width: 100%;
  background: #fff;
  padding: 13px 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  border-top: 1px solid #dddddd;
}

.extra__services h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.services__header{
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 18px;
}

.services__header-up{
  height: 33px;
  width: 33px;
  border-radius: 50%;
  border: 1px solid #e0e1e7;
  background: #f1f3fb;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  cursor: pointer;
}

.services__header-up img{
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.services__column{
  width: 100%;
  margin-top: 13px;
}

.service__info__desc{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  gap: 24px;
}

.service__item {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 18px 21px;
  border-top: 1px solid #e5e5e9;
}

.service__item-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #dde3ff;
}

.service__flex{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title-row {
  display: flex;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
}

.title-row--question{
  display: none;
}

.service-description {
  font-size: 14px;
  color: #4d4d4d;
  max-width: 332px;
  width: 100%;
  line-height: 1.3;
}

.service__control {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  color: #38383e;
}

.service-counter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.service-counter button {
  width: 32px;
  height: 32px;
  font-size: 18px;
  background: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.service-title{
  font-style: normal;
  font-weight: 500;
  display: flex;
  gap: 10px;
  align-items: center;
}

.service-price, .title-row--splash{
  color: #838596;
}

.service-total {
  font-size: 14px;
}

.services__mobile-description{
  display: none;
}

.services__column-wrapper {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.services__column-wrapper.open {
  max-height: 2000px;
  opacity: 1;
  transform: translateY(0);
}

.services__header-up img {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.services__header-up img.rotated {
  transform: rotate(180deg);
}


@media only screen and (max-width: 680px){

    .extra__services{
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .service-description{
      display: none;
    }

    .services__column {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .services__mobile-description-wrapper {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease, padding 0.4s ease;
      padding: 0 15px;
      opacity: 0;
      transform: translateY(-10px);
      pointer-events: none;
      
    }

    .services__mobile-description-wrapper.open {
      max-height: 500px;
      opacity: 1;
      transform: translateY(0);
      transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
      pointer-events: all;
    }


    .services__mobile-description{
      display: flex;
      flex-direction: column;
      font-size: 14px;
      max-width: 400px;
      width: 100%;
      font-weight: 400;
      color: #676767;
    }

    .service__item {
    justify-content: unset;
    gap: 10px;
    padding: 18px 13px;
    position: relative;
  }

  .service-title{
    align-items: unset;
  }

  .service-title span {
  max-width: 200px;
  width: 100%;
  max-height: 2.8em; 
  overflow: hidden;
  line-height: 1.4;
  text-overflow: ellipsis;
  white-space: normal;
  }

  .counter button, .counter span {
    height: 45px;
    width: 52px;
  }


  .service__info {
    margin-left: 10px;
    margin-right: 0;
  }

   .service__item-img{
    width: 100px;
    height: 100px;
   }

   .service__flex{
    flex-direction: column;
   }

   .title-row {
    flex-direction: column;
    margin-bottom: 15px;
    align-items: flex-start;
   }

   .title-row--splash{
    display: none;
   }

   img.title-row--question{
    display: block;
    width: 20px;
    height: 20px;
    border: none
   }

   .service__control {
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    gap: 25px;
   }

   .service-total-count{
    display: none;
   }

   .service-total{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background: #f1f3fb;
    border-radius: 15px;
    border-top: 1px solid #e5e5e9;
    width: 76px;
   }
}

@media only screen and (max-width: 520px){
  .services__column{
    align-items: flex-start;
  }

  .service__item-img{
    width: 90px;
    height: 90px;
  }

   
}

@media only screen and (max-width: 360px){
  
  .service__info__desc {
    margin-top: 0;
  }

  .service__control{
    flex-direction: column;
  }

  .service__flex{
    align-items: start;
  }

  .service__item{
    align-items: flex-start;
  }

  .service-title span {
    max-width: unset;
  }

  .counter {
        max-width: 135px;
    }

  .counter button, .counter span {
    width: 45px;
    height: 45px;
  }
}

@media only screen and (max-width: 330px){
  .counter button, .counter span {
        height: 38px;
        width: 46px;
    }

  .service-title {
    flex-direction: column;
  }
}

@media only screen and (max-width: 300px){
  .title-row {
    font-size: 13px;
  }
}