.calendar__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  overflow-x: auto;
  font-family: sans-serif;
  background: #fff;
  color: #1f1f1f;
}

.calendar__grid {
  display: flex;
  flex-direction: column;
}

.calendar__header {
  display: flex;
  margin-left: 0; /* убираем, если был */
}

.empty {
  width: 55px; 
}

.calendar__main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Отдельный левый столбец */
.calendar__times {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.calendar__body{
  max-width: 610px;
   border-radius: 12px / 10px;
   border: 2px solid #dde4fd;
  padding: 0 4px;
  width: 100%;
  background: #f1f3fb;
  display: flex;
  flex-direction: column;
}



.calendar-cell.day-header {
  max-width: 87px;
  width: 100%;
  text-align: center;
}

.calendar-row {
  display: flex;
  gap: 2px;
}

.calendar-cell {
  padding: 15px 0;
  justify-content: center;
  max-width: 84px;
  width: 100%;
  max-height: 40px;
  height: 100%;
  border-radius: 12px / 10px;
  font-size: 12px;
  border: 1px solid #d3d3d3;
  color: #616161;
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.calendar__body .calendar-cell {
  margin-top: 2px;
}



.day-header {
  font-weight: 700;
  gap: 5px;
  flex-direction: row;
}

.day-header--day{
  color: #c9cdd0;
  font-size: 13px;
  text-transform: lowercase;
}

.day-header--date{
  font-weight: 700;
}


.day-header.weekend, .day-header.weekend  .day-header--day{
  color: #e25a5a;
}

.time-label {
  background: #f9f9f9;
  font-weight: 500;
}

.slot.free {
  background-color: #fff;
  cursor: pointer;
}

.slot:hover {
  background-color: #e3f8ff;
  color: #50acf2;
  border-color: #74ddff;
}

.calendar-cell.day-header, .calendar-cell.empty, .calendar-cell.time-table{
  border: none;
}

.calendar-cell.empty{
  max-width: 300px;
  width: 100%;
}

.calendar-cell.time-table{
  background: #fff;
  margin-top: 0;
  border-radius: 0;
  font-weight: 700;
  max-width: 55px;
  padding-right: 12px;
  max-width: 60px;
}

.calendar-cell.slot.selected {
  background-color: #47d5ff;
  border-color: #00c3ff;
  font-weight: 700;
  color: #fff;
  font-size: 12px;
 
   line-height: 1.1;
}

.slot.occupied{
  background-color: transparent;
  border: none;
  color: transparent;
  font-size: 11px;
  cursor: default !important;
}

.calendar__body .calendar-cell:hover{
  color: #50acf2;
  background: #e3f8ff;
  border-color: #74ddff;
}

.slot.occupied:hover {
  background-color: transparent !important;
  border: none !important;
  color: transparent !important;
  pointer-events: none;
}

.price__info{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap:5px;
}

.booked__info{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.calendar__note{
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 15px 0;
  font-size: 14px;
  color: #616161;
}

.calendar__note img{
  width: 15px;
  height: 15px;
}

.calendar-transition {
  animation: fadeSlideIn 0.2s ease;
  width: 100%;
}

.guest__count{
  display: flex;
  gap: 15px;
  align-items: center;
}

.guest__count label{
  margin-bottom: 0;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 680px){
  .calendar__header, .calendar-row {
    gap: 0px;
  }

  .calendar__wrapper{
    overflow-x:visible;
  }

  .calendar-cell{
    margin-top: 0;
    border-radius: 0;
    border: 1px solid #d3d3d3;
  }

  .purpose__block{
    align-items: center;
  }
}

@media only screen and (max-width: 520px){
  
.note-time{
    display: none;
    font-size: 13px;
  }

  .calendar__note{
    font-size: 11px;
  }
}

@media only screen and (max-width: 360px){
  .calendar-cell{
    font-size: 11px;
  }
  

}