.hall__slider__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 15px;
  overflow: hidden;
  width: 100%;
  background: #f1f3fb;
  border: 2px solid #dedede;
}

.hall__slider__container {
  overflow: hidden;
  flex-grow: 1;
}

.hall__slider {
  display: flex;
  gap: 12px;
}

.hall-card {
  flex: 0 0 200px;
  width: 100%;
  max-width: 200px;
  padding: 12px;
  border-radius: 20px;
  border: 2px solid #dedede;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

.hall-card img {
  max-width: 170px;
  width: 100%;
  max-height: 130px;
  height: 100%;
  border-radius: 15px;
}

.hall-card.selected {
  border-color: #007bff;
  background-color: #e9f2ff;
}

.hall-name {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
}

.scroll-btn {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  font-size: 20px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.scroll-btn.left {
  left: 10px;
}

.scroll-btn.right {
  right: 10px;
}

.hall__slider__wrapper:hover .scroll-btn {
  opacity: 1;
  pointer-events: auto;
}

@media only screen and (max-width: 520px){
  .hall-card{
    padding: 6px;
  }

  .hall-card img{
    max-width: 187px;
    max-height: 140px;
  }

  .scroll-btn {
    display: none;
  }

  .hall-name {
    margin-bottom: 22px;
  }
}