.week__nav {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 25px;
}

.week__nav button.disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

.week__nav button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dcdee3;
}

@media only screen and (max-width: 520px){
  .week__nav {
    gap: 34px;
    margin-bottom: 13px;
  }

  .week__nav button{
    width: 35px;
    height: 35px;
  }

}

@media only screen and (max-width: 330px){
  
  .week__nav{
    gap: 20px;
  }

  .week__nav span{
    font-size: 14px;
  }
}