@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

body.modal-open {
  overflow: hidden !important;
}

*,
*::before,
*::after {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth; 
}

a {
    text-decoration: none; 
    color: inherit;
}

ul, ol {
    list-style: none; 
}

button {
  font-family: 'Manrope', sans-serif;
}

p, span, strong, em, h1, h2, h3, h4, h5, h6, label, div {
  cursor: default;
}