@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

@font-face {
  font-family: 'Calibri';
  src: url('../src/fonts/Calibri/calibri.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('../src/fonts/Calibri/calibri_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Calibri', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.modal-open {
  overflow: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth; 
}

a {
    text-decoration: none; 
    color: inherit;
}

ul, ol {
    list-style: none; 
}

p, span, strong, em, h1, h2, h3, h4, h5, h6, label, div {
  cursor: default;
}