.order-form {
  background: #fff;
  padding-top: 23px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  border-top: 1px solid #e5e5e9;
  font-weight: 400;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
}

.order-form__header{
  width: 100%;
  padding: 0 25px;
}

.order-form h3 {
  margin-bottom: 20px;
}

.order-form__grid {
  display: flex;
  width: 100%;
  margin-top: 18px;
  padding-top: 18px;
  padding-left: 22px;
  padding-right: 22px;
  border-top: 1px solid #e5e5e9;
}

.order-form__left {
  display: flex;
  font-size: 14px;
  flex-wrap: wrap;
  max-width: 340px;
  width: 100%;
  color: #353535;
}

.order-form__left .field-group:nth-child(2){
  margin-left: 20px;
}

.order-form__left .field-group:nth-child(4){
  margin-left: 20px;
}

.order-form__right {
  padding-left: 20px;
  font-size: 14px;
  border-left: 1px solid #e5e5e9;
  align-items: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 148px;
  width: 100%;
}

.field-group--commentary{
  max-width: 318px;
  width: 100%;
  margin-right: 0;
}

.field-group label {
  margin-bottom: 6px;
}

.field-group input,
.field-group textarea {
  border: 1px solid #cfcfcf;
  color: #908c8c;
  border-radius: 10px;
  padding: 11px 12px;
  font-size: 13px;
}

.field-group input:focus,
.field-group textarea:focus {
  outline: none;             
  box-shadow: none;          
  border-color: inherit;     
}

.field-group--commentary textarea{
  padding: 4px;
}

.field-group textarea {
  resize: none;
}

.field-group input{
  width: 100%;
}

.field-group .input-promo {
  width: 100%;
}

.field-group textarea::placeholder{
  color: #c9c9c9;
}

.promo__flex {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  width: 100%;
}

.promo-valid{
  display: none;
}

.prepay-switcher {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #1f1f1f;
}

.prepay-switcher label {
  display: block;
}

.prepay-amount {
  font-size: 14px;
  font-weight: 700;
  color: #1f1f1f;
}

.switcher {
  display: flex;
  gap: 10px;
  align-items: center;
}

.switcher__buttons{
  display: flex;
}

.switcher button {
  width: 60px;
  padding: 8px 0;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cfcfcf;
  border-radius: 20px;
  background: #fff;
  color: #939393;
  cursor: pointer;
}

.switcher button:nth-child(1){
  border-radius: 20px 0 0 20px;
}

.switcher button:nth-child(2){
  border-radius: 0 20px 20px 0;
  border-left: none;
}

.switcher button.active {
  background: #f1f2fb;
  color: #1c1c1c;
}

.agreement {
  margin-top: 10px;
}

.agreement label.checkbox-wrapper {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  line-height: 1.4;
  gap: 10px;
  position: relative;
}

.agreement input[type="checkbox"] {
  display: none;
}

.agreement .custom-box {
  width: 18px;
  height: 18px;
  border: 1px solid #b1b1b1;
  background-color: #fff;
  border-radius: 3px;
  position: relative;
  flex-shrink: 0;
  margin-top: 2px;
  cursor: pointer;
}

.agreement input[type="checkbox"]:checked + .custom-box::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #b1b1b1;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.agreement a {
  color: #5682ff;
  text-decoration: none;
}


.submit-button {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  max-width: 170px;
  width: 100%;
  border-radius: 18px;
  background: #eaf7ff;
  color: #5962d1;
  font-weight: bold;
  border: 1px solid #ccdee9;
  cursor: pointer;
}

.submit-button:hover{
  background: #c5c5c5;
  color: #fff;
}

.submit-button:disabled {
  border: 1px solid #dce3ff;
  background: #f1f3fb;
  cursor: not-allowed;
  color: #9fa2c6;
}

.policy-note {
  font-size: 12px;
  color: #777;
  text-align: center;
}

@media only screen and (max-width: 630px){

  .order-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
  }
  .order-form__grid{
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .order-form__left {
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    align-items: center;
  }

  .order-form__left .field-group:nth-child(2){
  margin-left: 0px;
  }

.order-form__left .field-group:nth-child(4){
  margin-left: 0px;
  }

  .field-group{
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .field-group .input-promo {
  width: unset;
}

  .field-group label {
    min-width: 75px;
    display: flex;
    justify-content: end;
  }

  .field-group input, .field-group textarea {
    font-size: 16px;
  }

  .field-group--commentary{
    display: none;
  }

  .prepay-switcher{
    max-width: 357px;
    width: 100%;
    height: 49px;
  }

  .order-form__right{
    padding-left: 0;
    border-left: none;
    width: 100%;
    font-size: 15px;
  }

  .switcher {
    gap: 15px;
    max-width: 250px;
    height: 100%;
    width: 100%;
  }

  .switcher__buttons{
    display: flex;
    align-items: center;
    max-width: 177px;
    height: 100%;
    width: 100%;
  }

  .switcher button {
    max-width: 90px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .switcher button:nth-child(1){
  border-radius: 10px 0 0 10px;
}

.switcher button:nth-child(2){
  border-radius: 0 10px 10px 0;
  border-left: none;
}

  .calendar-cell {
  font-size: 10px;
}
  
.field-group{
  width: 100%;
  max-width: 350px;
}

.order-form{
  color: #343434;
}

.field-group input, .field-group textarea{
  max-width: 245px;
  width: 100%;
}

.field-group--promo{
  max-width: 355px;
}

.field-group .input-promo {
 max-width: 177px;
 width: 100%;
}

.promo__flex{
  gap: 20px;
  max-width: 250px;
  justify-content: flex-end;
}

.promo-valid{
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cfcfcf;
  color: #908c8c;
  border-radius: 10px;
  font-size: 13px;
  }

  .promo-valid span{
    transform: translateY(-10%);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
  }

  .agreement{
    padding-left: 22px;
    width: 100%;
  }

  .agreement label.checkbox-wrapper span {
    text-align: left;
  }

  .agreement-text{
    max-width: 247px;
    width: 100%;
  }

  .field-group input, .field-group textarea {
    padding: 15px 17px;
  }

  .submit-button {
    max-width: 210px;
  }
}

@media only screen and (max-width: 520px){
  .agreement .custom-box {
    margin-top: 5px;
  }

  .policy-note {
    max-width: 266px;
    width: 100%;
    font-size: 11px;
  }
}

@media only screen and (max-width: 450px){

  .order-form{
    text-align: left;
  }

   .field-group{
    width: 100%;
  }

  .field-group--commentary{
    width: 100%;
  }
}

@media only screen and (max-width: 360px){

  .order-form__grid{
    padding: 10px;
  }

  .promo__flex {
    justify-content: unset;
  }

  .field-group .input-promo{
    max-width: 165px;
  }

  .switcher {
    max-width: 270px;
  }

  .switcher__buttons {
    justify-content: flex-end;
  }

      .switcher button {
        height: 75%;
        max-width: 70px;
      }

  .field-group input, .field-group textarea {
        font-size: 14px;
    }
 

  .agreement {
    margin-top: 20px;
  }

  .switcher button
    {
        padding: 18px 20px;
    }

    .prepay-switcher{
      flex-direction: column;
    }
}

@media only screen and (max-width: 330px){
  .field-group .input-promo {
        max-width: 137px;
    }
}

@media only screen and (max-width: 300px){
  .field-group .input-promo{
        max-width: 120px;
    }

  .agreement label.checkbox-wrapper {
    font-size: 11px;
  }
}