.order__wrapper{
  width: 100%;
  background: #f1f3fb;
  padding: 10px 9px;
  display: flex;
  justify-content: center;
}

.order__header{
  width: 100%;
  padding-top: 21px;
  padding-bottom: 20px;
  padding-left: 23px;
  padding-right: 23px;
}

.order__summary {
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid #e7e8ec;
  border-radius: 17px;
  background-color: #fff;
  max-width: 695px;
  width: 100%;
  background-color: #fff;
}

.order__flex{
  padding: 20px;
  border-top: 1px solid #e5e5e9;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.order__flex .left {
  max-width: 332px;
  font-size: 14px;
  width: 100%;
  display: flex;
  align-items: start;
  gap: 17px;
}

.left__aside{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #6a737b; 
}

.order-hall-name {
  font-weight: 700;
  color: #464653;
}

.order__flex .left img {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 8px;
}

.order__flex .hall-name {
  margin-bottom: 4px;
}

.order__flex .right {
  width: 50%;
  padding-left: 20px;
  border-left: 1px solid #e5e5e9;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
  color: #464653;
}

.order__flex .right div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #e5e5e9;
  padding-bottom: 12px;
}

.order__flex .right div:last-child {
  border-bottom: none;
  margin-top: 8px;
}

.right-service{
  gap: 5px;
}

.order-date-time, .order-guest{
  color: #76798c;
}

.order-guest{
  margin-top: -4px;
}

.order-date-time{
  display: flex;
  flex-direction: column;
  gap:6px;
}

.order-total{
  font-weight: 700;
  color: #464653;
}

.order-total-number {
  color: #1f1f1f;
}

.goal-name{
  text-transform: capitalize;
}

@media only screen and (max-width: 600px){
  .order__flex{
    flex-direction: column;
  }

  .order__flex .left{
    width: 100%;
  }

  .order__flex .right div {
    align-items: center;
  }

  .order__flex .left img{
    width: 120px;
    height: 120px;
  }

  .order__flex .right{
    width: 100%;
    margin-top: 35px;
  }
}

@media only screen and (max-width: 520px){
  .order-form {
    text-align: left;
  }

  .order__flex .right{
    padding-left: 0;
    border-left: none;
    margin-top: 30px;
  }

}

@media only screen and (max-width: 420px){
  .order__summary {
    max-width: 375px;
  }
}

@media only screen and (max-width: 320px){
  .order__flex{
    padding: 10px;
  }
  .order__flex .right {
    text-align: left;
  }
}